<ion-modal-view class="product edit create">
  <div class="row">
    <div class="col">    </div>
    <div class="col">
      <a class="angleTargeting" value="50" width="100%" style="margin:auto;"> </a>
    </div>
    <div class="col">    </div>
  </div>

  <div id="finalize">
    <button class="button button-outline button-positive" ng-click="CancelAttack()">
      Cancel Attack
    </button>
   <button class="button button-outline button-assertive" ng-click="LaunchAttack()">
     Finalize Attack!!
   </button>
  </div>
</ion-modal-view>
