  <ion-view view-title="About">
    <ion-content class="padding">
      <h3>Stats about your character are displayed here: </h3>
      <p><strong> Health Points: </strong> 89.36f </p>
      <p><strong> Level: </strong> Fred Durst </p>
      <p><strong> Experience: </strong> Bill-Nye the science guy </p>
      <p><strong> Items: </strong> A tire iron, Lubricant, salmon jerky, toothpaste, rubber hose</p>
      <p><strong> Strength: </strong> A smooth twenty two </p>
      <p><strong> Agility: </strong> 'drop table users;-- </p>
    </ion-content>
  </ion-view>
